<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
        <a class="text-white"
           th:href="@{'/users/page/' + ${currentPage} + '?sortField='+ ${fieldName} +'&sortOrder=' + ${sortField != fieldName ? sortOrder : reverseOrder} + ${keyword != null ? '&keyword=' + keyword : ''}}">
            [[${columnLabel}]]
        </a>
        <span th:if="${sortField == fieldName}"
              th:class="${sortOrder == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
        </span>
    </th>

    <a th:fragment="page_link(pageNumber, label)"
       class="page-link"
       th:href="@{'/users/page/' + ${pageNumber} + '?sortField=' + ${sortField} + '&sortOrder=' + ${sortOrder} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>

</body>
</html>